/* Definição das variáveis de cor */
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

/* Estilos gerais */
body {
    font-family: monospace;
    background: var(--bg); /* Inicialmente configurado por tema */
    color: var(--fontColor); /* Inicialmente configurado por tema */
}

ul {
    font-family: helvética;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

/* Estilos dos temas */
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

/* Estilos dos botões */
.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-family: helvética;
}

.btn:focus {
    outline-style: none;
}
